
nav {
  background-color: rgba(20, 102, 0, 0.685);
  color: #FFFFFF;
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 2em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.icon {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.compose {
  flex-direction: column;
  flex-wrap: wrap;
}

.compose-arrow {
  color: rgba(255, 78, 78, 0.836);
  display: flex;
  justify-content: center;
}
