main.container {
  align-content: center;
  background-color: rgb(243, 243, 227);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 60%;
}

.new-tweet h2 {
  display: none;
}

.new-tweet {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 96%;
}

.tweet-input {
  align-content: center;
  border-bottom: 3px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
}

.tweet-text-input {
  background-color: rgb(243, 243, 227);
  border: none;
  border-bottom: 3px solid rgb(80, 80, 80);
  height: 4em;
  padding-top: 25px;
  width: 100%;
}

.tweet-text-input:hover {
  box-shadow: 10px 5px 5px #7396ae;
}

.tweet-text-label {
  width: 100%;
}

.counter-n-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 0.75em;
}

.btn {
  background-color: #4056A1;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 0.75em;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#tweet-text {
  resize: none;
}

#tweet-error {
  color: red;
  font-weight: 600;
}
