main.container {
  background-color: beige;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 60%;
}

h2 {
  align-self: center;
}

.new-tweet {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
  align-self: center;
  width: 98%;
}

.tweet-input {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 3px black;
}

.tweet-text-input {
  border: none;
  border-bottom: 3px solid rgb(80, 80, 80);
  background-color: beige;
  display: flex;
  height: 2em;
  width: 100%;
}

.tweet-text-label {
  width: 100%;
}

.counter-n-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 0.75em;
}

.btn {
  border-radius: 0;
  border: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 0.75em;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#tweet-text {
  resize: none;
}
