/* .new-tweet */
.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tweet-article {
  /* Temporary border for editing */
  border: 3px solid rgb(80, 80, 80);

  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.tweet-body {
  /* Temporary border for editing */
  border: 2px solid blue;

  align-self: center;
  border-bottom: 3px solid rgb(80, 80, 80);
  display: flex;
  font-size: 1em;
  flex-wrap: wrap;
  width: 98%;
}

.tweet-footer {
  align-items: center;
  display: flex;
  font-size: 0.6em;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.fas {
  color: #7396ae;
  padding-right: 10px;
}
.fas:hover {
  color: rgb(255, 187, 0);
}

.tweet-article:hover {
  box-shadow: 10px 5px 5px #7396ae;
}
